<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Queimakiandroid"
        tools:targetApi="31">
        <activity
            android:name=".produtos.presetation.ProdutosActivity"
            android:exported="false" />
        <activity
            android:name=".Produtos"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/activity_main" />

        <activity
            android:name=".homerUser.presetation.home"
            android:exported="false" />
        <activity
            android:name=".homerUser.presetation.produtosF"
            android:exported="false" />
        <activity
            android:name=".categorias.categoriaActivity"
            android:exported="false" />
        <activity
            android:name=".login.presetation.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".cadastro.utils.cadastroLibs"
            android:exported="false" />
        <activity
            android:name=".cadastro.presetation.cadastroActivity"
            android:exported="false" />
        <activity
            android:name=".cadastro.utils.MainActivity"
            android:exported="false" />
        <activity
            android:name=".homerUser.presetation.homeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>